# Dataprep

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('Data/Raw/train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
df.shape

(7613, 5)

In [4]:
# Modelo b√°sico inicial
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
tfidf = TfidfVectorizer()

In [6]:
X = tfidf.fit_transform(df['text'])

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV, KFold
from sklearn.metrics import accuracy_score

In [17]:
lr = LogisticRegression(penalty='elasticnet', solver='saga')
kf = KFold(n_splits=3)

In [18]:
params = {
    'C':[0.001, 0.01, 0.1, 1, 10, 100, 1000],
    'l1_ratio':[0, 0.1, 0.25, 0.5, 0.75, 1],
}

In [19]:
rscv = RandomizedSearchCV(lr, params, n_iter=30, scoring='accuracy', cv=kf, return_train_score=True)

In [20]:
rscv.fit(X, df['target'])

C:\Users\lucas\AppData\Roaming\Python\Python36\site-packages\sklearn\linear_model\sag.py:337: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

RandomizedSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
                   error_score='raise-deprecating',
                   estimator=LogisticRegression(C=1.0, class_weight=None,
                                                dual=False, fit_intercept=True,
                                                intercept_scaling=1,
                                                l1_ratio=None, max_iter=100,
                                                multi_class='warn', n_jobs=None,
                                                penalty='elasticnet',
                                                random_state=None,
                                                solver='saga', tol=0.0001,
                                                verbose=0, warm_start=False),
                   iid='warn', n_iter=30, n_jobs=None,
                   param_distributions={'C': [0.001, 0.01, 0.1, 1, 10, 100,
                                              1000],
                                        'l1_ratio': [0, 0.1, 0.25, 0.5, 0.75,
                                                     1]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='accuracy', verbose=0)

In [21]:
rscv.best_score_

0.7441218967555497

In [23]:
rscv.best_estimator_

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=0.1, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='elasticnet',
                   random_state=None, solver='saga', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
rscv.best_params_

{'l1_ratio': 0.1, 'C': 10}

In [25]:
test = pd.read_csv('Data/Raw/test.csv')

In [26]:
test

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
5,12,NaN,NaN,We're shaking...It's an earthquake
6,21,NaN,NaN,They'd probably still show more life than Arse...
7,22,NaN,NaN,Hey! How are you?
8,27,NaN,NaN,What a nice hat?
9,29,NaN,NaN,Fuck off!
10,30,NaN,NaN,No I don't like cold!
11,35,NaN,NaN,NOOOOOOOOO! Don't do that!
12,42,NaN,NaN,No don't tell me that!
13,43,NaN,NaN,What if?!
14,45,NaN,NaN,Awesome!
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@sunkxssedharry will you wear shorts for race ...
17,51,ablaze,NIGERIA,#PreviouslyOnDoyinTv: Toke Makinwa¬â√õ¬™s marriag...
18,58,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...
19,60,ablaze,"Los Angeles, Califnordia",PSA: I¬â√õ¬™m splitting my personalities.\n\n?? t...
20,69,ablaze,threeonefive.,beware world ablaze sierra leone &amp; guap.
21,70,ablaze,Washington State,Burning Man Ablaze! by Turban Diva http://t.co...
22,72,ablaze,"Whoop Ass, Georgia",Not a diss song. People will take 1 thing and ...
23,75,ablaze,India,Rape victim dies as she sets herself ablaze: A...
24,84,ablaze,NaN,SETTING MYSELF ABLAZE http://t.co/6vMe7P5XhC
25,87,ablaze,"scarborough, ontario",@CTVToronto the bins in front of the field by ...
26,88,ablaze,NaN,#nowplaying Alfons - Ablaze 2015 on Puls Radio...
27,90,ablaze,"121 N La Salle St, Suite 500",'Burning Rahm': Let's hope City Hall builds a ...
28,94,ablaze,Wandering,@PhilippaEilhart @DhuBlath hurt but her eyes a...
29,99,accident,"Homewood, PA",Accident cleared in #PaTurnpike on PATP EB bet...
...,...,...,...,...
3233,10756,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...
3234,10757,wreckage,NaN,#science Now that a piece of wreckage from fli...
3235,10758,wreckage,India,Wreckage 'Conclusively Confirmed' as From MH37...
3236,10761,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...
3237,10762,wreckage,Canada,TOP STORY: wreckage from #MH370 officially con...
3238,10773,wreckage,NaN,Wreckage 'Conclusively Confirmed' as From MH37...
3239,10778,wreckage,Mumbai,Wreckage 'Conclusively Confirmed' as From MH37...
3240,10781,wreckage,our galaxy,RT @australian Debris found on an Indian Ocean...
3241,10791,wrecked,Sunny Southern California,Cramer: Iger's 3 words that wrecked Disney's s...
3242,10792,wrecked,"Plymouth, England",Almost *wrecked* my van the other day because ...
3243,10796,wrecked,Deep in the heart of LibLand,'What manner of human being would parcel out a...
3244,10797,wrecked,NaN,@Nathan26_RFC thought you said Saturday night ...
3245,10801,wrecked,"Canada,Ontario",I just wanna ease your mind and make you feel ...
3246,10804,wrecked,Love Reiss,@yakubOObs think he deactivated because his no...
3247,10806,wrecked,Seattle Washington,RT CNBC '3 words from Disney CEO Bob Iger wrec...
3248,10807,wrecked,Acey mountain islandd√•√áToronto√•√à,Smackdown tyme this should put me in a good mo...
3249,10816,wrecked,los angeles,@thrillhho jsyk I haven't stopped thinking abt...
3250,10820,wrecked,"Brussels, Belgium",@stighefootball Begovic has been garbage. He g...
3251,10828,wrecked,NaN,Wrecked today got my hattrick ????
3252,10836,NaN,NaN,#Ebola #EbolaOutbreak Ebola Virus: Birmingham ...
3253,10838,NaN,NaN,Malaysian PM confirms debris is from missing f...
3254,10845,NaN,NaN,Officials: Alabama home quarantined over possi...
3255,10856,NaN,NaN,See the 16yr old PKK suicide bomber who detona...
3256,10857,NaN,NaN,To conference attendees! The blue line from th...
3257,10858,NaN,NaN,The death toll in a #IS-suicide car bombing on...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ¬â√õ√í SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [29]:
X_test = tfidf.transform(test['text'])

In [33]:
y_pred = rscv.predict(X_test)

In [34]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [36]:
pd.read_csv('Data/Modeling/sample_submission.csv').head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [39]:
pd.DataFrame({'id':test['id'], 'target':y_pred}).to_csv('Data/Modeling/Submission_v0.csv', sep=',', index=False)